<div class="body">
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="login()">
            <h1>Login</h1>
            <img class="img" src="./assets/img/programmer.png" alt="user img">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="user" autocomplete="off" placeholder="jere.calvet@example.com">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar Contraseña'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button class="ancho" type="submit" [disabled]="form.invalid" color="primary">Ingresar</button>
        </form>
    </div>    
</div>